<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
      {{#if env.ALGOLIA_API_KEY}}
        <div class="navbar-item hide-for-print">
          <input id="search-input" type="text" placeholder="Search docs">
        </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>

    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">Home</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Products</a>
          <div class="navbar-dropdown">
            {{#each site.components}}
              {{#if (isproduct this.name)}}
                <a class="navbar-item" href="{{relativize this.latest.url}}">{{this.latest.title}}</a>
              {{/if}}
            {{/each}}
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Modules</a>
          <div class="navbar-dropdown">
            {{#each site.components}}
              {{#if (ismodule this.name)}}
                <a class="navbar-item" href="{{relativize this.latest.url}}">{{this.latest.title}}</a>
              {{/if}}
            {{/each}}
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Developers</a>
          <div class="navbar-dropdown">
            {{#each site.components}}
              {{#if (isdevelopers this.name)}}
                <a class="navbar-item" href="{{relativize this.latest.url}}">{{this.latest.title}}</a>
              {{/if}}
            {{/each}}
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Integrations</a>
          <div class="navbar-dropdown">
            {{#each site.components}}
              {{#if (isintegration this.name)}}
                <a class="navbar-item" href="{{relativize this.latest.url}}">{{this.latest.title}}</a>
              {{/if}}
            {{/each}}
          </div>
        </div>
        <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="https://github.com/bristol-su/portal">Get Started</a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>
